body {
background-image: url("pexels-hasan-albari-1229861.jpg");
background-repeat: no-repeat;
background-color: #cccccc;
background-size: contain;
color:white;
}

ul#menu li {
display:inline;
padding-left: 50px;
}
a {
color: hsla(40,5%,89%,0.9);
}
marquee{
background-color: hsla(240,50%,70%,0.5);
}
header p ul li a:hover {
background-color:#ad03fc;
}

footer {
text-align: bottom;
padding: 3px;
color: white;
font-family: verdana;
background-color: hsla(57,100%,91%,0.3)
}
h1{
color:hsla(52,100%,50%,0.7);
}
p {
color: white;
}
