
body {
margin: 0;
background-image: url("pexels-hasan-albari-1229861.jpg");
background-repeat: no-repeat;
background-color: #cccccc;
background-size: cover;
color:white;
}

header{
	font-size: 80%;
}
ul#menu li {
display:inline;
padding-left: 50px;
}
a {
text-decoration: none;
color: hsla(40,5%,89%,0.9);
}
marquee{
background-color: hsla(240,50%,70%,0.5);
}
header p ul li a:hover {
background-color:#ad03fc;
}

footer {
align: bottom;
padding: 3px;
color: white;
font-family: verdana;
background-color: hsla(57,100%,91%,0.3)
}
h1{
color:hsla(52,100%,50%,0.7);
}
h2{
	margin-left: 30px;
}
p {
color: white;
}
#name {
	font-family: cursive;
}
#des{
	font-size: 100%;
	display: block;
	width: 75%;
	height: 250px;
	text-align: justify;
	vertical-align: center;
	margin-left: 30px;
}
img{
	margin-right:15px;
}
table{
	font-size: 90%;
	border-color:white;
	margin-left: 30px;
}
@media screen and (max-width: 512px) {
	body{
	background-color: rgb(41, 51, 44);
	}
	img{
	align:center;
	}
}
